.avatar {
    width: 43px;
    height: 43px;
    background-color: #bdcadb;
    color: var(--white);
    border-radius: 50%;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    position: relative;
}

.avatar:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 35px;
    height: 35px;
    border-radius: 50%;

    border: solid 2px var(--white);
}
