.breadcrumb {
    height: 138px;
    background-color: var(--white);
    padding: 29px 38px 66px;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
}

.breadcrumb:after {
    content: "";
    clear: both;
}

.breadcrumb__title {
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    float: left;
}

.breadcrumb__extra {
    padding-top: 4px;
    float: right;
}
