.button {
    text-align: center;
    border-radius: 3px;
    padding: 9px 12px;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    display: inline-block;

    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    cursor: pointer;
}

.button--secondary {
    color: var(--white);
    background-color: var(--symplaorange);
}

.button--icon {
    padding: 0;
    background: transparent;
}
.button--smaller > img {
    height: 16px;
    margin-right: 3px;
}

.button--link {
    background: transparent;
    color: var(--symplablue);
}

.button--bigger {
    padding: 12px 20px;
}

.button--smaller {
    padding: 10px 15px;
    font-size: 10px;
    line-height: 1;
    letter-spacing: normal;
}
