.card {
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 2px 10px 0 rgba(39, 40, 50, 0.05);
    padding: 33px 36px;
    margin-top: 20px;

    position: relative;
}

.card__title {
    padding-bottom: 32px;
}
h4.card__title {
    padding-bottom: 44px;
}

.card__action {
    position: absolute;
    top: 33px;
    right: 36px;
}
