::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: rgba(0, 0, 0, 0.4);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgba(0, 0, 0, 0.4);
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgba(0, 0, 0, 0.4);
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 0, 0, 0.4);
}
:-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 0, 0, 0.4);
}

/*
    Form actions
 */
.form__actions {
    text-align: center;
    margin-top: 58px;
    padding: 31px 0;
    background-color: var(--white);
    box-shadow: 0 2px 10px 0 rgba(39, 40, 50, 0.05);
}

/*
    Form Field
 */
.form__field {
    position: relative;
    margin-bottom: 29px;
}
.form__field__meta {
    display: flex;
    align-content: space-between;
    justify-content: space-between;
}
.form__field input {
    background: 0 0;
    border: solid 2px var(--lighten-4);
    border-width: 0 0 2px;
    box-shadow: none;

    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: var(--symplagray);

    padding: 5px 0;
}
.form__field input[type='date'] {
    font-weight: 600;
    font-stretch: normal;
}
.form__field > label:not(.field-radio) {
    display: block;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: rgba(0, 0, 0, 0.4);
}
.form__field--icon .form__field__meta > .form__field__validation {
    margin-left: 30px;
}
.form__field--icon > img {
    display: inline-block;
    height: 18px;
    margin-right: 11px;
    vertical-align: middle;
}
.form__field--icon > label {
    margin-left: 30px;
}
.form__field--fluid {
    box-sizing: border-box;
}
.form__field--fluid > input {
    width: 100%;
}
.form__field input:focus {
    outline: none;
}
.form__field input:invalid {
    border-color: var(--symplared);
}
.form__field input:valid ~ .form__field__meta > .form__field__validation {
    visibility: hidden;
}
.form__field input:invalid ~ .form__field__meta > .form__field__validation {
    visibility: visible;
    float: left;
    margin-top: 5px;
    @apply --error-text;
}
.form__field--required .form__field__extra:after {
    content: "*";
    color: var(--symplared);
    font-size: 14px;
    line-height: 1.71;
    position: absolute;
    bottom: 18px;
    right: -11px;
}
.form__field__extra {
    display: block;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    padding-top: 5px;
}

.form__field__explain {
    font-style: italic;
    font-stretch: normal;
    line-height: 2;
    color: var(--symplagray);
}

/*
    Field title
 */
.field-title {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    color: var(--symplagray);
    margin-right: 10px;
}

/*
    Radio and Checkbopx
 */
.field-radio,
.field-checkbox {
    position: relative;
    color: var(--symplagray);
    cursor: pointer;
    padding-left: 31px;
    margin-right: 18px;
    line-height: 27px;
    display: inline-block;
}

input[type='radio'],
input[type='checkbox'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    padding-left: 20px;
}
input[type='radio']:checked + .field-radio__indicator,
input[type='checkbox']:checked + .field-checkbox__indicator {
    border: solid 2px var(--symplablue);
}
input[type='radio']:checked + .field-radio__indicator:after,
input[type='checkbox']:checked + .field-checkbox__indicator:after {
    position: absolute;
    content: "";
    border: solid 1px var(--symplablue);
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    background-color: var(--symplablue);
}
.field-radio__indicator,
.field-checkbox__indicator {
    border: solid 2px var(--lighten-4);
    position: absolute;
    top: 2px;
    left: 0;
    width: 18px;
    height: 18px;
}

/*
    Radio
 */
input[type='radio']:checked + .field-radio__indicator:after,
.field-radio__indicator {
    border-radius: 50%;
}

/*
    Checkbox
 */
input[type='checkbox']:checked + .field-checkbox__indicator:after,
.field-checkbox__indicator {
    border-radius: 3px;
}

/*
    Form file
 */
.field-file {
    border: 1px dashed #bdcadb;
    outline-offset: -10px;
    background-color: var(--lighten-6);
    padding: 17px 31px;
    color: var(--symplagray);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.field-file--icon img {
    vertical-align: middle;
    cursor: pointer;
    max-width: 254px;
}
.field-file--fit {
    padding: 0;
    border: none;
}
.form__field--fit {
    margin: 0;
}
.field-file--icon span {
    display: block;
    cursor: pointer;
    margin-top: 8px;
}
.field-file input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
    top: 0;
    left: 0;
}
