.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid--centered {
    align-items: center;
    justify-content: center;
}

.grid--justify {
    justify-content: space-between;
}

.container {
    width: 1100px;
}

.col-12 { flex: 0 0 100% }
.col-9 { flex: 0 0 75% }
.col-8 { flex: 0 0 66.6% }
.col-7 { flex: 0 0 58.3% }
.col-6 { flex: 0 0 50% }
.col-5 { flex: 0 0 41.6% }
.col-4 { flex: 0 0 33.3% }
.col-3 { flex: 0 0 25% }
.col-2 { flex: 0 0 16.66% }
.col-1 { flex: 0 0 8.33% }
