.menu {
    height: 64px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 4px;

    text-align: center;
    color: var(--white);
    box-sizing: border-box;
    display: flex;
    padding: 15px 35px;

    background: var(--white) url(./images/logo-sympla.svg) no-repeat center center;
    background-size: 50px 50px;
}

.menu > ul {
    list-style:none;
    padding: 0;
}

.menu > ul > li {
    display: inline-block;
}

.menu--left {
    margin: auto 0;
}
.menu--left > li {
    margin-right: 15px;
}

.menu--center {
    margin: auto;
}

.menu--right {
    margin: auto 0;
}
.menu--right > li {
    margin-right: 0;
}

.menu__item {
    border: solid 1px var(--symplablue);
    border-radius: 2px;
    padding: 9px 14px;
    color: var(--white);
    background-color: var(--symplablue);
    display: inline-block;
    text-decoration: none;
}

.menu__item--active {
    background-color: var(--white);
    color: var(--symplablue);
}
