.modal {
    display: flex;
    justify-content: center;
}

.modal:before {
    content: "";
    z-index: 10;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    opacity: 0.8;
    background-color: var(--darken-4);
    overflow-x: hidden; /* Disable horizontal scroll */
}

.modal__content {
    position: fixed;
    top: 20px;
    z-index: 11;
    border-radius: 5px;
    background-color: var(--white);
    box-shadow: 0 2px 10px 0 rgba(39, 40, 50, 0.05);
    padding: 47px;
    width: 450px;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
}

.modal__header > .button--icon {
    margin-top: -20px;
    margin-right: -20px;
}

.modal__actions {
    display: flex;
    justify-content: center;
}
