.no-data {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #eeeeee;
    height: 100%;
}

.no-data__wrapper {
    margin: auto;
    text-align: center;
}

.no-data__text {
    font-size: 14px;
    line-height: 1.29;
    color: rgba(0, 0, 0, 0.4);
    padding: 20px 0 28px;
}

.no-events {
    height: var(--min-page-size);
}

.no-tickets {
    padding: 19px 0 48px;
    background-color: var(--white);
}
