@import '../../node_modules/normalize.css/normalize.css';
@import './grid.css';
@import './menu.css';
@import './avatar.css';
@import './breadcrumb.css';
@import './card.css';
@import './form.css';
@import './table.css';
@import './modal.css';
@import './button.css';
@import './no-data.css';

/* Color palette */
:root {
    --darken-4: #272832;
    --darken-3: #373843;
    --darken-1: #494b57;
    --lighten-2: #85868f;
    --darken-2: #40414d;
    --lighten-3: #a8a9af;
    --lighten-4: #cbcbcf;
    --pale-grey: #eaeaec;
    --white: #ffffff;
    --lighten-6: #fbfbfb;
    --symplagray: #50525f;
    --lighten-1: #6a6c77;
    --symplablue: #19bbf5;
    --symplaorange: #ff9023;
    --symplagreen: #2ac8bc;
    --symplared: #ff4f4f;
    --symplapurple: #8484bf;
    --butterscotch: #fdbd39;
    --symplayellow: #e6df23;

    /* Text styles */
    --h3-placeholder-5: {
        font-family: 'Open Sans', serif;
        font-size: 12px;
        line-height: 1.42;
        text-align: left;
        color: var(--lighten-3);
    };

    --error-text: {
        font-family: 'Open Sans', serif;
        font-size: 11px;
        font-weight: normal;
        color: var(--symplared);
    };

    --min-page-size: calc(100vh - /* Menu */ 64px -  /* Breadcrumb */ 138px)
}

.page {
    min-height: var(--min-page-size);
}

html, body, #root {
    font-family: 'Open Sans', serif;
    font-size: 12px;
    background-color: var(--lighten-6);
}

h1, h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 300;
}
h1 {
    color: var(--symplagray);
}

h2 {
    color: var(--symplablue);
}

h3 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--lighten-3);
}

h4 {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: var(--lighten-4);
}

/*
    TICKET FORM
 */
.ticket-form--datetime > input {
    width: 150px;
}
