.table {
    border-collapse: collapse;
    table-layout: fixed;
    border-bottom: solid 1px var(--pale-grey);
    width: 100%;
}
.table thead > tr {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    border-radius: 2px;
    background-color: var(--lighten-6);
    border: solid 1px var(--pale-grey);
    padding: 12px 22px;

    font-size: 11px;
    font-weight: bold;
}
.table tbody > tr {
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    padding: 18px 22px;
    font-weight: normal;
}
.table td, .table th {
    display: block;
    text-align: left;
    color: var(--symplagray);
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.table__row-actions {
    text-align: center;
}
.table__row-actions > .button {
    margin: 0 10px;
}
